@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

div, p{
  padding: 0;
  margin: 0;
}

.custom-shadow{
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.translate-up{
  transition: transform 2s ease;
  transform: translateY(-150px);
}

.translate-XY-custom{
  transition: transform 2s ease;
  transform: translate(-100px, 80px);
}